/* .container{
  padding: 14px;
} */

#root{
  height: 100%;
}



.newsItem{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.btnon{
  display: flex;
  justify-content: space-between;
  margin: 28px 0px 14px 0px;
}

.loading{
  text-align: center;
  margin: 21px 0px;
}

.loading img{
  width: 35px;
}

/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto; /* Ensure vertical scrolling */
/* }  */

.form-check-input{
  cursor: pointer;
}

.img-adjust{
  height: 300px;
  object-fit: cover;
}